*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; 

}


header{

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: sticky;
    
}


.header_box{
    background: #fff;
    width: 100%;
    height: 80px;
    display: flex;
}

.header_box_logo_menu{

    width: 50%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
}

.log_box{

    /* border: 1px solid green; */
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_box{

    width: 80%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header_box_logo_menu img{
    width: 30%;
    height: auto;
}
.menu_options{
    font-size: 80%;
    font-weight: bold;
    text-decoration: none;
    color: black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */

}
.HOME_LIVING span{
    display: flex;
    justify-content: center;
    align-items: center;
}


.MEN{
    border-bottom: 4px solid transparent;
    width: 8%;
}
.WOMEN{
    border-bottom: 4px solid transparent;
    width: 8%;

}
.KIDS{
    border-bottom: 4px solid transparent;
    width: 8%;
}
.HOME_LIVING{
    border-bottom: 4px solid transparent;
    width: 16%; 
}
 .BEAUTY{
    border-bottom: 4px solid transparent;
    width: 10%;
}
.STUDIO{
    border-bottom: 4px solid transparent;
    width: 12%; 
} 



.MEN:hover{
    border-bottom: 4px solid red;
}
.WOMEN:hover{
    border-bottom: 4px solid rgb(251, 86, 193);

}
.KIDS:hover{
    border-bottom: 4px solid rgb(242, 106, 16);
}
.HOME_LIVING:hover{
    border-bottom: 4px solid rgb(242, 194, 16);
}
.BEAUTY:hover{
    border-bottom: 4px solid rgb(13, 183, 175);
}
.STUDIO:hover{
    border-bottom: 4px solid rgb(255, 63, 108);
}


/* ------------------- */

.header_box_search_bar{
    width: 50%;
    height: 100%;
    display: flex;
}

.search_box{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
}

.search_box div{
    border-radius: 5px;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    margin-left: 20px;
    background-color: rgb(245, 245, 246);
    
}

.search_icon{
    font-size: 20px;
    width: 50px;
    margin-left: 20px;
    color: #696e79;
    
}

.search_input_box{
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color:  #696e79;
    font-size: 14px;
}

.search_input_box:focus{
    border: none; 
}


.search_box_and_options{
    height: 100%;
    width: 20%;
    margin-left: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search_box_and_options a{
    text-decoration: none;
}

.search_box_and_options_div{
    height: 40px;
    color: rgb(40, 45, 62);



}

.search_box_and_options i{
    font-size: 20px;
    color: rgb(40, 45, 62);
    display: flex;
    align-items: center;
    justify-content: center;
}
.search_box_and_options span{
    font-size: 12px;
    font-weight: bold;
}







/* -------------content_box------ */

.content_box{
    border: 1px solid #fcfafa;
    width: 100vw;
    height: 800px;
    
}